body{
    background-color: #1C3879;
    font-family: 'Roboto', sans-serif;
}
button{
    background-color: #1C3879;
    color: #EAE3D2;
    width: 10em;
    height: 4em;
    border: 2px solid #EAE3D2;

    position: absolute;
    margin: auto;
    
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    
    
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}