div{
    background-color: #3d405b;
    width:100px;
    height:100px;
    margin:10px;
    border: 2px solid black;
    transition: 1s;
}

#middle{
    background-color: #81b29a;
}

div:hover{
    margin-left: 500px;
}

div:nth-of-type(1){
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

div:nth-of-type(1){
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

div:nth-of-type(1){
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}
div:nth-of-type(1){
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}
div:nth-of-type(1){
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}