div{
    background-color: #3d405b;
    width:100px;
    height:100px;
    display: inline-block;
    margin:10px;
    border: 2px solid black;
    transition: 0.5s;
}

#middle{
    background-color: #81b29a;
}

div:hover{
    margin-left: 100px;
}

div:nth