<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% product %></title>
  </head>
  <body>
    <h1><%= product.name %></h1>
    <ul>
      <li>Price: $ <%= product.price %></li>
      <li>Category: <%= product.category %></li>
      <button><a href=""></a>Delete</button>
    </ul>
    <a href="/products/<%=product.id%>/edit">Edit Product</a>
    <a href="/products">All Products</a>
    <p></p>
    <a href="/products/new">Create New Product</a>
  </body>
</html>
