<!DOCTYPE html>
<html lang="en">

    
  <%- include('partials/head.ejs'); %>

    <body>

  <%- include('partials/navbar.ejs'); %>
        <h1>The Home page <%=4+5+1 %>
        </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda commodi quaerat repellat delectus ipsum
            veniam, molestiae fugiat ea quibusdam molestias ut nihil maiores possimus eum provident ex soluta culpa
            aliquid.
            Voluptatum distinctio voluptatem optio numquam iusto ullam blanditiis, exercitationem adipisci accusamus
            dolor voluptas accusantium natus quos quibusdam unde voluptate sint earum aut voluptates libero quae enim.
            Ab ad quaerat placeat!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda commodi quaerat repellat delectus ipsum
            veniam, molestiae fugiat ea quibusdam molestias ut nihil maiores possimus eum provident ex soluta culpa
            aliquid.
            Voluptatum distinctio voluptatem optio numquam iusto ullam blanditiis, exercitationem adipisci accusamus
            dolor voluptas accusantium natus quos quibusdam unde voluptate sint earum aut voluptates libero quae enim.
            Ab ad quaerat placeat!</p>

    </body>

</html>