
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    text-align: start;
    width: 100%;
}
img{
    width: 200px;
    height: 200px;
}