@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");
body {
    background-color: #eaeff1;
    font-family: "Raleway", sans-serif;
  }

#container{
margin:0 auto;
max-width: 400px;
margin-top: 20vh;
}

img{
    width: 100%;
}

header{
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 10px;
    display: inline;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}