
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    al
    text-align: start;
    width: 100%;
}
img{
    width: 200px;
    height: 200px;
}