<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The Home page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda commodi quaerat repellat delectus ipsum veniam, molestiae fugiat ea quibusdam molestias ut nihil maiores possimus eum provident ex soluta culpa aliquid.
    Voluptatum distinctio voluptatem optio numquam iusto ullam blanditiis, exercitationem adipisci accusamus dolor voluptas accusantium natus quos quibusdam unde voluptate sint earum aut voluptates libero quae enim. Ab ad quaerat placeat!</p>
</body>
</html>